<div class="container m-3 ">
  <h1 class="my-5">List of your SMART goals:</h1>
  <div class="container m-3 d-flex">
    <div class="row">
      <% @tasks.each do |task| %>
        <div class="form-check d-flex align-items-center col-3 ms-5" >
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label d-flex align-items-center" for="flexCheckDefault">
            <h6 class="ms-3 pt-2 title" style=" background-color: <%= ['#FBAC26', '#FE5FB3', '#AA4691', '#10CAF0', '#036eb7'][rand(0..4)]%>;">
              <%= link_to task.title, task_path(task) %>
            </h6>
            <%= link_to "🗑", @task, data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete task?" }, class: 'btn  ms-1 pt-3 delete'%>
          </label>
        </div>
      <% end %>
    </div>
    <%# <%= link_to '➕ Add new task', task_path(@task) %>
    <div class="create-task-form">
      <%= render 'tasks/form' %>
    </div>
  </div>
  <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/smart_goals.jpg" alt="smart" class="general">
</div>
